script(src="https://donorbox.org/widget.js" paypalExpress="true")
iframe(src="https://donorbox.org/embed/zyra-oss?amount=50&hide_donation_meter=true&default_interval=m" height="685px" width="100%" style="display: block; max-width:410px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest)