header#site-header
  img(src='assets/v8-zm-white.svg' alt='Zyra Media Logo')
  h1 Open Source Software
  .main-chart-container
    h2.section-header Overall Stats
      small (last 15 days)
    canvas#chart-canvas